
body{
  background-image: linear-gradient(to left, #fff1eb 0%, #bbe8fc 100%);
}

span{
  /* font-size: 12px; */
  margin-left: 10px;
}

button{
  background-color: #6d7172 !important;
  border-color: #6d7172 !important;
}

button:hover{
  background-color:#6d7172b0 !important;
  box-shadow: 0px 0px 5px #000000;
}

a{
  cursor: pointer;
} 
